In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('/config/workspace/artifact/03102023__222621/data_ingestion/dataset/train.csv')

In [8]:
df.isnull().mean()

class     0.000000
aa_000    0.000000
ab_000    0.772055
ac_000    0.059033
ad_000    0.254059
            ...
ee_007    0.010432
ee_008    0.010432
ee_009    0.010432
ef_000    0.047478
eg_000    0.047461
Length: 171, dtype: float64

In [10]:
df.isnull().sum()/df.shape[0]

class     0.000000
aa_000    0.000000
ab_000    0.772055
ac_000    0.059033
ad_000    0.254059
            ...
ee_007    0.010432
ee_008    0.010432
ee_009    0.010432
ef_000    0.047478
eg_000    0.047461
Length: 171, dtype: float64

In [17]:
df.isnull().mean().values.__len__()

171

In [19]:
drop_column_list = []
for column_name, percent_value in zip(df.isnull().mean().index, df.isnull().mean().values):
    print(column_name, ": ",percent_value*100)
    if percent_value>0.3:
        drop_column_list.append(column_name)

class :  0.0
aa_000 :  0.0
ab_000 :  77.2055267702936
ac_000 :  5.903281519861831
ad_000 :  25.405872193436963
ae_000 :  4.3592400690846285
af_000 :  4.3592400690846285
ag_000 :  1.0414507772020725
ag_001 :  1.0414507772020725
ag_002 :  1.0414507772020725
ag_003 :  1.0414507772020725
ag_004 :  1.0414507772020725
ag_005 :  1.0414507772020725
ag_006 :  1.0414507772020725
ag_007 :  1.0414507772020725
ag_008 :  1.0414507772020725
ag_009 :  1.0414507772020725
ah_000 :  1.0224525043177894
ai_000 :  1.0293609671848014
aj_000 :  1.0293609671848014
ak_000 :  7.637305699481865
al_000 :  1.0345423143350605
am_0 :  1.0293609671848014
an_000 :  1.0345423143350605
ao_000 :  0.9430051813471502
ap_000 :  1.0345423143350605
aq_000 :  0.9430051813471502
ar_000 :  4.746113989637306
as_000 :  1.0293609671848014
at_000 :  1.0293609671848014
au_000 :  1.0293609671848014
av_000 :  4.3644214162348876
ax_000 :  4.366148531951641
ay_000 :  1.0431778929188256
ay_001 :  1.0431778929188256
ay_002 :  1.0431778929188256
ay_003 :  1.0431778929188256
ay_004 :  1.0431778929188256
ay_005 :  1.0431778929188256
ay_006 :  1.0431778929188256
ay_007 :  1.0431778929188256
ay_008 :  1.0431778929188256
ay_009 :  1.0431778929188256
az_000 :  1.0431778929188256
az_001 :  1.0431778929188256
az_002 :  1.0431778929188256
az_003 :  1.0431778929188256
az_004 :  1.0431778929188256
az_005 :  1.0431778929188256
az_006 :  1.0431778929188256
az_007 :  1.0431778929188256
az_008 :  1.0431778929188256
az_009 :  1.0431778929188256
ba_000 :  1.0587219343696028
ba_001 :  1.0587219343696028
ba_002 :  1.0587219343696028
ba_003 :  1.0587219343696028
ba_004 :  1.0587219343696028
ba_005 :  1.0587219343696028
ba_006 :  1.0587219343696028
ba_007 :  1.0587219343696028
ba_008 :  1.0587219343696028
ba_009 :  1.0587219343696028
bb_000 :  1.0224525043177894
bc_000 :  4.751295336787565
bd_000 :  4.753022452504318
be_000 :  4.367875647668393
bf_000 :  4.360967184801382
bg_000 :  1.0345423143350605
bh_000 :  1.0345423143350605
bi_000 :  0.9430051813471502
bj_000 :  0.9430051813471502
bk_000 :  37.975820379965455
bl_000 :  45.0
bm_000 :  65.50431778929187
bn_000 :  72.77892918825562
bo_000 :  76.58549222797927
bp_000 :  78.89464594127806
bq_000 :  80.65975820379965
br_000 :  81.53195164075993
bs_000 :  1.146804835924007
bt_000 :  0.23488773747841105
bu_000 :  1.093264248704663
bv_000 :  1.093264248704663
bx_000 :  5.2072538860103625
by_000 :  0.7340241796200345
bz_000 :  4.746113989637306
ca_000 :  7.519861830742659
cb_000 :  1.146804835924007
cc_000 :  5.203799654576857
cd_000 :  1.1018998272884284
ce_000 :  4.3713298791019
cf_000 :  25.405872193436963
cg_000 :  25.405872193436963
ch_000 :  25.405872193436963
ci_000 :  0.5544041450777203
cj_000 :  0.5544041450777203
ck_000 :  0.5544041450777203
cl_000 :  15.79965457685665
cm_000 :  16.402417962003454
cn_000 :  1.0569948186528497
cn_001 :  1.0569948186528497
cn_002 :  1.0569948186528497
cn_003 :  1.0569948186528497
cn_004 :  1.0569948186528497
cn_005 :  1.0569948186528497
cn_006 :  1.0569948186528497
cn_007 :  1.0569948186528497
cn_008 :  1.0569948186528497
cn_009 :  1.0569948186528497
co_000 :  25.405872193436963
cp_000 :  4.747841105354059
cq_000 :  1.093264248704663
cr_000 :  77.2055267702936
cs_000 :  1.0397236614853196
cs_001 :  1.0397236614853196
cs_002 :  1.0397236614853196
cs_003 :  1.0397236614853196
cs_004 :  1.0397236614853196
cs_005 :  1.0397236614853196
cs_006 :  1.0397236614853196
cs_007 :  1.0397236614853196
cs_008 :  1.0397236614853196
cs_009 :  1.0397236614853196
ct_000 :  23.569948186528496
cu_000 :  23.569948186528496
cv_000 :  23.569948186528496
cx_000 :  23.569948186528496
cy_000 :  23.569948186528496
cz_000 :  23.569948186528496
da_000 :  23.569948186528496
db_000 :  23.569948186528496
dc_000 :  23.569948186528496
dd_000 :  4.3713298791019
de_000 :  4.746113989637306
df_000 :  6.986183074265975
dg_000 :  6.987910189982729
dh_000 :  6.986183074265975
di_000 :  6.984455958549223
dj_000 :  6.984455958549223
dk_000 :  6.987910189982729
dl_000 :  6.986183074265975
dm_000 :  6.989637305699483
dn_000 :  1.093264248704663
do_000 :  4.747841105354059
dp_000 :  4.753022452504318
dq_000 :  4.753022452504318
dr_000 :  4.751295336787565
ds_000 :  4.753022452504318
dt_000 :  4.753022452504318
du_000 :  4.751295336787565
dv_000 :  4.751295336787565
dx_000 :  4.746113989637306
dy_000 :  4.747841105354059
dz_000 :  4.746113989637306
ea_000 :  4.746113989637306
eb_000 :  6.984455958549223
ec_00 :  17.0
ed_000 :  15.79965457685665
ee_000 :  1.0431778929188256
ee_001 :  1.0431778929188256
ee_002 :  1.0431778929188256
ee_003 :  1.0431778929188256
ee_004 :  1.0431778929188256
ee_005 :  1.0431778929188256
ee_006 :  1.0431778929188256
ee_007 :  1.0431778929188256
ee_008 :  1.0431778929188256
ee_009 :  1.0431778929188256
ef_000 :  4.747841105354059
eg_000 :  4.746113989637306

In [20]:
drop_column_list

['ab_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'cr_000']

In [26]:
missing = df.isna().sum().div(df.shape[0]).mul(100).to_frame().sort_values(by=0, ascending = False)
missing[missing[0] > 30]

                0
br_000  81.531952
bq_000  80.659758
bp_000  78.894646
ab_000  77.205527
cr_000  77.205527
bo_000  76.585492
bn_000  72.778929
bm_000  65.504318
bl_000  45.000000
bk_000  37.975820

In [27]:
missing = df.isna().mean().mul(100).to_frame().sort_values(by=0, ascending = False)
missing[missing[0] > 30]

                0
br_000  81.531952
bq_000  80.659758
bp_000  78.894646
ab_000  77.205527
cr_000  77.205527
bo_000  76.585492
bn_000  72.778929
bm_000  65.504318
bl_000  45.000000
bk_000  37.975820

In [28]:
moreThan30percentNull = df.isnull().mean()
moreThan30percentNull[moreThan30percentNull>0.3].index

Index(['ab_000', 'bk_000', 'bl_000', 'bm_000', 'bn_000', 'bo_000', 'bp_000',
       'bq_000', 'br_000', 'cr_000'],
      dtype='object')